<html>
    <head>
        <title>
            Signing a New Artist
        </title>
        <link rel="stylesheet" type = "text/css" href="/static/ProjectcssFile.css"/>
    </head>
    <body>
        <header>
            <img src="/static/EssentialsManagement.png" title="logo" class="nonhomelogo"/>
            <h1 class='headerbar'> Add New Single to Database</h1>
        </header>
        <img src="/static/single_image.png" title="single_image" class="add_artist_image"/>
        <form method = "POST">
        <div class="form-group">
            <label class = 'formlabel'>Artist First Name </label>
            <input type="text" name="artist_first_name"><br><br>
        </div>
        <div class="form-group">
             <label class = 'formlabel'>Artist Last Name: </label>
            <input type="text" name="artist_last_name"><br><br>
        </div>
        <div class="form-group">
            <label class = 'formlabel'>Song Name: </label>
            <input type="text" name="song_name"><br><br>
        </div>
        <div class="form-group">
            <label class = 'formlabel'>Album Name: </label>
            <input type="text" name="album_name"><br><br>
        </div>
        <div class="form-group">
            <label class = 'formlabel'>Single Release Date:</label>
            <input type="text" name="single_release"><br><br>
        </div>
        <div class="form-group">
            <label class = 'formlabel'>Highest Billboard 100 Ranking: </label>
            <input type="text" name="highest_US_ranking"><br><br>
        </div>
        <h2>If there is no ranking on the Billboard Charts, please insert the number 0. Databases may be updated in the future.</h2>
        <br/><br/>
        
        <input type = "submit" class="submitbutton" value="Add New Single">
        <input type="reset" name="clear" class='submitbutton' value = "Clear All">
    </form>
    <br/><br/>
    {% if message %}
    <h2>{{ message }}</h2>
    {% endif %}
    <br/><br/>
    <a href="{{ url_for('home') }}" class = 'submitbutton'> Return to Home</a>
    </body>
</html>